<div ng-controller="ApproverController"> 
<div ng-init="getpendingtimesheetdata()">

<div>
<div class="well bghead">
    <img src="images/logo_schlumberger.gif" alt=""/> <span class="timesheet">| <span style="padding-left: 10px;">TimeSheet Dashboard</span></span>
<span class="welcome"> Welcome,  <label ng-model="welcomeUserMsg" >{{welcomeUserMsg}}</label><br/><a href="#/login"  ng-click="logout()">Logout</a></span>
</div>
</div>
<div class="dash_div">
<!--<input id="exampleInput" type="week"  name="input" ng-model="example.value"
required ng-change="date()" />-->
    <!--<select style="width:auto; height:30px;" ng-model="employeedata" id="empdataid" name="empdata" ng-change="onTimesheetChange($event)">        
        <option value="" disabled="" selected="">Select Timesheet</option>        
        <option ng-repeat="id in currpendingTimesheets track by $index">{{currpendingTimesheets[$index].username}} / WeekNo: {{currpendingTimesheets[$index].weekno}}/ Year: {{currpendingTimesheets[$index].year}}</option>
    </select>-->

    <select style="width:auto; height:30px;" ng-model="employeedata" id="empdataid" name="empdata" ng-change="onTimesheetChange($event)">
        <option value="" disabled="" selected="">Select Timesheet</option>
        <option ng-repeat="id in currpendingTimesheets track by $index">{{currpendingTimesheets[$index].username}} / WeekNo: {{currpendingTimesheets[$index].weekno}}/ Year: {{currpendingTimesheets[$index].year}}</option>
    </select>

    <br/> <br/>
    <span>Selected Timesheet for: {{currpendingTimesheets[$index].username}} / WeekNo: {{currpendingTimesheets[$index].weekno}}/ Year: {{currpendingTimesheets[$index].year}}</span>
    <a href="#/home" style="float:right; font-weight: bold;">Timesheet submission</a>
<div class="wrap">
<table class="head">
<tr style="background-color:highlight;height: 40px;">

<th style="width:15%; padding-left: 5px;" class="font"><h6 style="color:#335cb7;">
&nbsp;Project Code</h6></th>
<th style="width:8%" class="font"><h6 style="color:#335cb7;">Tasks</h6></th>
<th style="width:20%" class="font"><h6 style="color:#335cb7;">Tasks Description</h6></th>
<th style="width:4%" class="font"><h6 ng-init="date()" ng-model="StartDate">{{StartDate |  date:'EEE &nbsp &nbsp dd&nbsp;MMM'}}</h6></th>
<th style="width:4%" class="font"><h6 ng-model="SecondDate">{{SecondDate |  date:'EEE &nbsp &nbsp dd&nbsp;MMM'}}</h6></th>
<th style="width:4%" class="font"><h6 ng-model="ThirdDate">{{ThirdDate | date:'EEE &nbsp &nbsp dd&nbsp;MMM'}}</h6></th>
<th style="width:4%" class="font"><h6 ng-model="fourthDate">{{fourthDate | date:'EEE &nbsp &nbsp dd&nbsp;MMM'}}</h6></th>
<th style="width:4%" class="font"><h6 ng-model="fifthDate">{{fifthDate | date:'EEE &nbsp &nbsp &nbsp dd&nbsp;MMM'}}</h6></th>
<th style="width:4%" class="font"><h6 ng-model="sixDate">{{sixDate | date:'EEE &nbsp &nbsp &nbsp dd&nbsp;MMM'}}</h6></th>
<th style="width:4%" class="font"><h6 ng-model="EndDate">{{EndDate | date:'EEE &nbsp &nbsp dd&nbsp;MMM'}}</h6></th>
<th style="width:4%" class="font"><h6 style="color:#335cb7;">Weeks &nbsp; &nbsp; Total</h6></th>
</tr>
</table>
<div class="inner_table">
<table>

<tr  ng-repeat="pc in currSelpendingTimesheet.projects" style="font-size:12px" ng-init="rowIndex = $index">
<td style="z-index:-1;width:15%; padding-left: 5px;">
    {{pc.name}}
</td>

<td style="width:8%;">
    <table>
        <tr ng-repeat="t in pc.tasks">
            <th></th>
            <td style="">{{t.name}}</td>
        </tr>
    </table>
</td>
<td style="width:20%;">
    <table>
        <tr ng-repeat="t in pc.tasks">
            <th></th>
            <td style="">{{t.description}}</td>
        </tr>
    </table>
</td>
<td style="width:4%;">
    <table>
       
        <tr ng-repeat="t in pc.tasks"  ng-init="columnIndex = $index">
             <th></th>
            <td style="">
           <!-- <label> {{  t.value.split(';')[0]==="" ? '-' : t.value.split(';')[0] }}</label>-->
                <input class="textClassDetail" type="text" ng-model="t.monHours" id="Mon_{{rowIndex}}_{{columnIndex}}" readonly="true"/>
            </td>
        </tr>
    </table>
</td>
<td style="width:4%;">
    <table>
      
        <tr ng-repeat="t in pc.tasks"  ng-init="columnIndex = $index">
              <th></th>
            <td>
                <input class="textClassDetail" type="text" ng-model="t.tueHours" id="Tue_{{rowIndex}}_{{columnIndex}}" readonly="true"/>
            </td>
        </tr>
    </table>
</td>
<td style="width:4%;">
    <table>
        
        <tr ng-repeat="t in pc.tasks"  ng-init="columnIndex = $index">
            <th></th>
            <td>
                <input class="textClassDetail" type="text" ng-model="t.wedHours" id="Wed_{{rowIndex}}_{{columnIndex}}" readonly="true"/>
            </td>
        </tr>
    </table>
</td>
<td style="width:4%;">
    <table>
       
        <tr ng-repeat="t in pc.tasks"  ng-init="columnIndex = $index">
             <th></th>
            <td>
                <input class="textClassDetail" type="text" ng-model="t.thuHours" id="Thu_{{rowIndex}}_{{columnIndex}}" readonly="true"/>
            </td>
        </tr>
    </table>
</td>
<td style="width:4%;">
    <table>
       
        <tr ng-repeat="t in pc.tasks"  ng-init="columnIndex = $index">
             <th></th>
            <td>
                <input class="textClassDetail" type="text" ng-model="t.friHours" id="Fri_{{rowIndex}}_{{columnIndex}}" readonly="true"/>
            </td>
        </tr>
    </table>
</td>
<td style="width:4%;">
    <table>
      
        <tr ng-repeat="t in pc.tasks"  ng-init="columnIndex = $index">
              <th></th>
            <td>
                <input class="textClassDetail" type="text" ng-model="t.satHours" id="Sat_{{rowIndex}}_{{columnIndex}}" readonly="true"/>
            </td>
        </tr>
    </table>
</td>
<td style="width:4%;">
    <table>
        
        <tr ng-repeat="t in pc.tasks"  ng-init="columnIndex = $index">
             <th></th>
            <td>
                <input class="textClassDetail" type="text" ng-model="t.sunHours" id="Sun_{{rowIndex}}_{{columnIndex}}" readonly="true"/>
            </td>
        </tr>
    </table>
</td>
<td style="width:4%;">
    <table>
        
        <tr ng-repeat="t in pc.tasks">
            <th></th>
            <td>
               <!-- <label>{{ totalRow(t.value) }}</label>-->
                <!--<input class="textClassDetail" type="text" ng-model="totalRow(t.value)" readonly="true"/>-->
                <input class="textClassDetail" type="text" ng-model="totalRow(t.monHours, t.tueHours, t.wedHours, t.thuHours, t.friHours, t.satHours, t.sunHours)" readonly="true" />
            </td>
        </tr>
    </table>
</td>
</tr>
</table>
</div>
<table style="border-bottom: 1px solid #dedede;">
<tr ng-init="finalRows(projectCode)">
<th style="width:15%;"></th>
<th style="width:8%;"></th>
<th style="color:#335cb7;width:20%"><h6>Total</h6></th>
<th style="width:4%;"><h6 ><input class="textClassDetail" type="text" ng-model="finalRow[0]" readonly="true"/></h6>
<th style="width:4%;"><h6><input class="textClassDetail" type="text" ng-model="finalRow[1]" readonly="true"/></h6>
<th style="width:4%;"><h6><input class="textClassDetail" type="text" ng-model="finalRow[2]" readonly="true"/></h6>
<th style="width:4%;"><h6><input class="textClassDetail" type="text" ng-model="finalRow[3]" readonly="true"/></h6>
<th style="width:4%;"><h6><input class="textClassDetail" type="text" ng-model="finalRow[4]" readonly="true"/></h6>
<th style="width:4%;"><h6><input class="textClassDetail" type="text" ng-model="finalRow[5]" readonly="true"/></h6>
<th style="width:4%;"><h6><input class="textClassDetail" type="text" ng-model="finalRow[6]" readonly="true"/></h6>
<th style="width:4%;"><h6><input class="textClassDetail" type="text" ng-model="finalSum" readonly="true"/></h6>
</tr></table>

</div>




<div>
<table id="commentTable">
          <tr>
<td style="width:150px;">  Submitter Comments  </td>
<td style="padding-left: 10px;"> <textarea id="comment_id" ng-disabled="true" ng-model="currSelpendingTimesheet.comments" name="txtcomment" cols="40" rows="3" /> </td>
 <td style="text-align: right; vertical-align: text-top;"><span>Status : <input id="timesheetStatusid" ng-disabled="true" type="text" name="timesheetStatus" ng-model="currSelpendingTimesheet.status" style="color:black;" /></span></td>
</tr>
         <tr>
<td>Approver Comments</td>
<td style="padding-left: 10px;"><textarea id="approvercomment_id" ng-model="currSelpendingTimesheet.approverComments" name="txtappcomment" cols="40" rows="3" /></td>
</tr>
       </table>  
 

<table style="margin-top: 10px;text-align: center">
<tr>
    <td colspan="2"> 
<button type="submit" class="btn_style" ng-click="saveApproverData('approve')">Approve</button>
<button type="submit" style="margin-left: 25px;"  class="btn_style"  ng-click="saveApproverData('reject')">Reject</button>
<!--<button type="submit" style="margin-left: 25px;"  class="btn_style" ng-click="back()">Back</button>-->
    </td>
 
</tr>
</table>

</div>
</div>
</div>