
<div class="approval-screen" ng-controller="logoutController">
<nav class="navbar ">
<div class="container">
<a class="navbar-brand" href="#" >
<img class="" src = "../images/logo.jpg"/>
</a>
<ul class="nav navbar-nav navbar-right">
<li><a href="#" class="btn btn-link" ng-click="logout()">Logout</a></li>

</ul>

<div>

</nav>

<div class="container"  ng-controller="tsApprovalController">

<div class="panel panel-primary">

<div class=" panel-heading">
<h3></h3>
</div><!-- panel-heading -->
<div class="panel-body">
<div class="row">

<div class="col-xs-1 usernames-holder " >

{{pendingTSUsersHTML}}

</div> <!-- Usernames Holder -->


<div class="col-xs-2 weekly-ts-holder">
{{pendingTSWeeksHTML}}
</div> <!-- Weekly TS Holder -->


<div class="col-xs-9 ts-details-holder">

<form>
<div class="table-responsive">

<table  class="table table-bordered ">

<tr ng-repeat="project in timesheet.projects">

	<td>
	<table class="table table-tasks">
	<tr ng-attr-class="{{ ($index == 0) ? '':'hidden' }}"><th style="min-width:30px;">Project</th><th>Task</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th><th>Sun</th><!--<th>Totals</th> --></tr>
	<thead>
	</thead>
	<tr ng-repeat="t in project.tasks" >
		
		<td ng-if="$index==0" rowspan="2" class="vertical-center " ng-model="t.projectname" style="min-width:70px;">{{project.name}}</td>
		
		<td><input type="text" size="20" ng-model="t.name" ng-disabled="true"/></td>
		<td><input type="text" size="2"  ng-model="t.monHours" ng-disabled="true"/></td>
		<td><input type="text" size="2"  ng-model="t.tueHours" ng-disabled="true"/></td>
		<td><input type="text" size="2"  ng-model="t.wedHours" ng-disabled="true"/></td>
		<td><input type="text" size="2"  ng-model="t.thuHours" ng-disabled="true"/></td>
		<td><input type="text" size="2"  ng-model="t.friHours" ng-disabled="true"/></td>
		<td><input type="text" size="2"  ng-model="t.satHours" ng-disabled="true"/></td>
		<td><input type="text" size="2"  ng-model="t.sunHours" ng-disabled="true"/></td>
		<!--<td><input type="text" size="2"  ng-disabled="true" ng-value="{{Number(t.monHours)+Number(t.tueHours)}}"/></td> -->
		</tr>
		</table>
	</td>	
	
</tr>



</table>

</div>
</form>
<div class="pull-right" ng-hide="timesheet.status=='approved'">
<button class="btn btn-default" ng-click="reject()" ng-hide="timesheet.status=='rejected'">Reject</button> 
<button class="btn btn-primary" ng-click="approve()">Approve</button>
</div>

</div> <!-- TS Details Holder -->


</div><!--row-->
</div>

</div>






</div> <!-- approval-screen -->
