
.white-color , .white-color:hover, .white-color:focus {
	color:#fff;	
}


.ts-months-holder ul{
	
	margin:0;
	
}

.vertical-center {
    vertical-align: middle !important;
}

.navbar-brand {
	padding-top:9px;
	
}

#table-holder td, #table-holder th,{
	
	font-size:90%;
}